header {
    .navbar {
        padding: 1em 5em;
        background-color: white !important;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

        &.active {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
    }

    .navbar-brand {
        font-weight: 800;
        text-transform: uppercase;
    }

    .nav-item {
        padding-left: 1em;

        a:hover {
            color: $secondary-color !important;
        }
    }

    .btn-outline-success {
        color: $secondary-color !important;
        border-color: $secondary-color !important;

        &:hover {
            background-color: $secondary-color !important;
            color: white !important;
        }
    }
}

html,
body {
    display: flex;
    flex-direction: column;
    height: 100% !important;
}

main {
    padding: 8em 0 2em 0;

    h1 {
        margin: 0 2em 0 2em;
        font-weight: 700;
    }
}

footer {
    color: $secondary-color;
    text-align: center;
    padding: 1em 0;

    p {
        margin: 0;
    }
}

.form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.8;
    color: #495057;
    pointer-events: none;
    cursor: text;
    /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;

    &[for="description"] {
        line-height: 0.45;
    }
}

.form-label-group input::-webkit-input-placeholder,
.form-label-group textarea::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder,
.form-label-group textarea:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder,
.form-label-group textarea::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder,
.form-label-group textarea::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder,
.form-label-group textarea::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown),
.form-label-group textarea:not(:placeholder-shown) {
    padding-top: 1.25rem !important;
    padding-bottom: .25rem !important;
}

.form-label-group input:not(:placeholder-shown)~label,
.form-label-group textarea:not(:placeholder-shown)~label {
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 12px;
    color: #777;

    &[for="description"] {
        padding-top: 0.7rem;
    }
}

.form-label-group.required label:after {
    content: "*";
    color: red;
}
