header {
    .navbar {
        padding: 1em 5em;
        background-color: white !important;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

        &.active {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
    }

    .navbar-brand {
        font-weight: 800;
        text-transform: uppercase;
    }

    .nav-item {
        padding-left: 1em;

        a:hover {
            color: $secondary-color !important;
        }
    }

    .btn-outline-success {
        color: $secondary-color !important;
        border-color: $secondary-color !important;

        &:hover {
            background-color: $secondary-color !important;
            color: white !important;
        }
    }
}

main {
    padding: 3em 0 2em 0;
    h1 {
        margin: 0 2em 1em 2em;
        font-weight: 700;
    }
}
