.list-ideas {
    margin-top: 2em;
    padding: 0 5em;

    .card {
        .card-title {
            font-size: 1.6em;
            font-weight: 700;
        }

        .card-footer {
            margin-bottom: 0;
        }
    }
}

.idea-content {
    padding: 0 5em;

    span {
        font-size: 1.3em;
        color: #818A91;
    }

    p {
        margin-top: 2em;
        text-align: justify;
    }

    .keywords {
        margin-top: 1.8em;
    }
}

.keywords {
    >* {
        margin-bottom: 1.2em;
    }

    :not(:last-child) {
        margin-right: 1em;
    }

    .badge {
        color: white !important;
        font-size: 0.8em;
        padding: 0.4em 0.7em;

        &:hover {
            color: white !important;
        }
    }
}

.form-create-idea {
    padding: 0 5em;
    width: 100%;
    height: fit-content;

    span {
        font-size: 1.3em;
        color: #818A91;
    }

    .form-label-group {
        position: relative;
        margin-bottom: 1rem;

        &>input,
        &>label {
            height: 3.125rem;
            padding: .75rem;
        }

        &>textarea {
            resize: none;
            height: 15em;
        }
    }

    button {
        padding: 0.5em 2em;

        &:not(:last-child) {
            margin-right: 1.5em;
        }
    }
}
