#login-container {
    margin: 0;
    width: 100% !important;
    overflow-x: hidden;

    .col>:first-child {
        height: 100%;
    }

    h2 {
        font-size: 3em;

        &:first-child {
            font-weight: bolder;
        }
    }

    .login-banner {
        height: 100vh;
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.6),
                rgba(0, 0, 0, 0.6)),
            url("/assets/banner.jpg");
        background-size: cover;
        background-position: right;

        h1 {
            text-transform: uppercase;
            font-weight: 800;
            font-size: 4em;
            color: white;
            margin-bottom: 0.5em;
        }

        p {
            color: white;
            font-size: 1.4em;
            font-weight: 300;
        }
    }
}

.form-signin {
    max-width: 500px;
    width: 100%;
    height: fit-content;

    .form-label-group {
        position: relative;
        margin-bottom: 1rem;
    }

    .form-label-group>input,
    .form-label-group>label {
        height: 3.125rem;
        padding: .75rem;
    }
}